<ul class="profile">
    <h3>{{username}}</h3>
    <li>
        <h4>Materials</h4>
        {{#userMaterials}}
            <span>Title: <strong>{{title}}</strong></span>        
            <span>Category: <strong>{{category}}</strong></span>
        {{/userMaterials}}
    </li>
</ul>