body {
    align-items: center;
}

table {
    border-collapse: collapse;
    background-color: #263238;color:inherit;}
td {
    border: 2px solid #175a58;
    text-align: center;
    padding: 0px;
    width: 50px;
}


#display{
  padding-right: 10px;
}

td input[type="button"]:hover {
    background-color: #175a58;
    color: #263238;
}


td input[type="text"] {
    height: 55px;
}

input[type="button"] {
width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 26px;
    font-style: normal;
    font-family: "Helvetica", "Calibri", Arial, sans-serif;
    color: #175a58;
background-color: inherit; text-align: center;
 display: inline-block;
    outline: none;
}

td[rowspan="2"] input[type="button"] {
    height: 102px;
}

td[colspan="2"] input[type="button"] {
    width: 102px;
}

input[type="text"] {
    width: 100%;
    background: none;
    border: none;
    font-size: 26px;
    font-style: normal;
    font-family: "Helvetica", "Calibri", Arial, sans-serif;
    color: #175a58;
background-color: inherit; text-align: right;
    outline: none;
}
