USE [master]
GO
/****** Object:  Database [Computers]    Script Date: 08.11.2016 15:29:37 ч. ******/
CREATE DATABASE [Computers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Computers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Computers.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Computers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Computers_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Computers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Computers]
GO
/****** Object:  Table [dbo].[Computer]    Script Date: 08.11.2016 15:29:37 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ComputerTypeId] [int] NOT NULL,
	[Vendor] [nchar](20) NOT NULL,
	[Model] [nchar](20) NOT NULL,
	[CPUId] [int] NOT NULL,
	[GPUId] [int] NOT NULL,
	[StorageDeviceId] [int] NOT NULL,
	[Memory] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Computer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComputerType]    Script Date: 08.11.2016 15:29:37 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComputerType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ComputerType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CPU]    Script Date: 08.11.2016 15:29:37 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPU](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vendor] [nchar](20) NOT NULL,
	[Model] [nchar](20) NOT NULL,
	[NumberOfCores] [int] NOT NULL,
	[ClockCycles] [nchar](15) NOT NULL,
 CONSTRAINT [PK_CPU] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GPU]    Script Date: 08.11.2016 15:29:37 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPU](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GPUTypeId] [int] NOT NULL,
	[Vendor] [nchar](20) NOT NULL,
	[Model] [nchar](20) NOT NULL,
	[Memory] [nchar](15) NOT NULL,
 CONSTRAINT [PK_GPU] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GPUType]    Script Date: 08.11.2016 15:29:37 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPUType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GPUType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StorageDevice]    Script Date: 08.11.2016 15:29:37 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageDevice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vendor] [nchar](20) NOT NULL,
	[Model] [nchar](25) NOT NULL,
	[StorageTypeId] [int] NOT NULL,
	[Size] [nchar](15) NOT NULL,
 CONSTRAINT [PK_StorageDevice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StorageType]    Script Date: 08.11.2016 15:29:37 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_StorageType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Computer]  WITH CHECK ADD  CONSTRAINT [FK_Computer_ComputerType] FOREIGN KEY([ComputerTypeId])
REFERENCES [dbo].[ComputerType] ([Id])
GO
ALTER TABLE [dbo].[Computer] CHECK CONSTRAINT [FK_Computer_ComputerType]
GO
ALTER TABLE [dbo].[Computer]  WITH CHECK ADD  CONSTRAINT [FK_Computer_CPU] FOREIGN KEY([CPUId])
REFERENCES [dbo].[CPU] ([Id])
GO
ALTER TABLE [dbo].[Computer] CHECK CONSTRAINT [FK_Computer_CPU]
GO
ALTER TABLE [dbo].[Computer]  WITH CHECK ADD  CONSTRAINT [FK_Computer_GPU] FOREIGN KEY([GPUId])
REFERENCES [dbo].[GPU] ([Id])
GO
ALTER TABLE [dbo].[Computer] CHECK CONSTRAINT [FK_Computer_GPU]
GO
ALTER TABLE [dbo].[Computer]  WITH CHECK ADD  CONSTRAINT [FK_Computer_StorageDevice] FOREIGN KEY([StorageDeviceId])
REFERENCES [dbo].[StorageDevice] ([Id])
GO
ALTER TABLE [dbo].[Computer] CHECK CONSTRAINT [FK_Computer_StorageDevice]
GO
ALTER TABLE [dbo].[GPU]  WITH CHECK ADD  CONSTRAINT [FK_GPU_GPUType] FOREIGN KEY([GPUTypeId])
REFERENCES [dbo].[GPUType] ([Id])
GO
ALTER TABLE [dbo].[GPU] CHECK CONSTRAINT [FK_GPU_GPUType]
GO
ALTER TABLE [dbo].[StorageDevice]  WITH CHECK ADD  CONSTRAINT [FK_StorageDevice_StorageType] FOREIGN KEY([StorageTypeId])
REFERENCES [dbo].[StorageType] ([Id])
GO
ALTER TABLE [dbo].[StorageDevice] CHECK CONSTRAINT [FK_StorageDevice_StorageType]
GO
USE [master]
GO
