table, td {
  border: 1px solid black;
}

.right {
    padding: 0px 0px 0px 20px;
}
.rightbot {
    padding: 30px 0px 0px 25px;
}
.center {
    padding: 0px 8px 0px 8px;
}
.aligncenter {
    text-align: center;
}
.alignleft {
    text-align: left;
}
